@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
}

body {
    position: relative;
    overflow-x: hidden;
}

body::after {
    content: '';
    display: block;
    height: 150px;
}

#boxes {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_decoration {
    float: left;
    width: 30px;
    height: 30px;
}

.red {
    background-color: red;
}

.navy {
    background-color: navy;
}

header {
    margin: 0 auto;
    max-width: 60%;
    padding-bottom: 32px;
}

@media screen and (max-width: 1350px) {
    header {
        margin: 0 auto;
        max-width: 80%;
    }
}

@media screen and (max-width: 950px) {
    header {
        margin: 0 auto;
        max-width: 95%;
    }
}

header li a {
    display: inline-block;
    transition: all 0.3s ease 0s;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: navy;
    padding: 0 5px;
}

header li a:hover {
    color: skyblue;
}

.social_icon {
    cursor: pointer;
    height: 20px;
}

.nav_top_links {
    display: flex;
    justify-content: end;
    align-items: center;
}

.nav_top_links li {
    display: inline-block;
    padding: 5px 5px;
    align-items: center;
}

.languages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100px;
}

.socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}

.verticalLine {
    border-left: 1px solid navy;
    height: 20px;
    display: inline-block;
}

.logo {
    cursor: pointer;
    height: 55px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.nav_bottom_links {
    min-width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger{
    display: none;
    height: 35px;
    padding: 10px;
}

@media screen and (max-width: 950px) {
    .hamburger{
        display: flex;
    }

    .nav_bottom_links {
        display: none;
    }
}

.cards {
    margin: 0 auto;
    display: grid;
    max-width: 100vw;
}

.cards {
    grid-template-columns: repeat(4, 1fr); 
}

.card {
    background-color: grey;
    width: 30vw;
    height: 30vw;
}

.banner {
    width: 100vw;
}

.banner_image {
    width: 100vw;
    object-fit: cover;
}

.card_image {
    max-width: 30vw;
}

.card_edge_image {
    max-width: 20vw;
}

.edge-card {
    width: 20vw;
}

@media screen and (max-width: 800px) {
    .card {
        width: 50vw;
        height: 50vw;
    }

    .card_image {
        max-width: 50vw;
    }

    .edge-card {
        display: none;
    }

    .cards {
        grid-template-columns: repeat(2, 1fr); 
    }
}

footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #012d5c;
}

.footer_content {
    min-width: 60%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.footer_logo {
    height: 50px;
    margin: 50px;
}

footer ul, footer li {
    color: white;
}

@media screen and (max-width: 800px) {
    .logo {
        height: 40px;
    }

    .footer_logo {
        height: 30px;
        margin: 30px;
    }

    .footer_content {
        min-width: 100%;
        font-size: 10px;

    }
}
