@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
}

#boxes {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    float: left;
    width: 30px;
    height: 30px;
}

.red_box {
    background-color: red;
}

.navy_box {
    background-color: navy;
}

header {
    margin: 0 auto;
    max-width: 60%;
    padding: 0 0;
}

@media screen and (max-width: 1350px) {
    header {
        margin: 0 auto;
        max-width: 80%;
        padding: 0 0;
        background-color: red;
    }
}

@media screen and (max-width: 950px) {
    header {
        margin: 0 auto;
        max-width: 95%;
        padding: 0 0;
        background-color: red;
    }
}

header li a {
    display: inline-block;
    transition: all 0.3s ease 0s;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: navy;
    padding: 0 5px;
}

header li a:hover {
    color: skyblue;
}

.social_icon {
    cursor: pointer;
    height: 20px;
}

.nav_top_links {
    display: flex;
    justify-content: end;
    align-items: center;
}

.nav_top_links li {
    display: inline-block;
    padding: 5px 5px;
    align-items: center;
}

.languages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100px;
}

.socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}

.verticalLine {
    border-left: 1px solid navy;
    height: 20px;
    display: inline-block;
}

.logo {
    cursor: pointer;
    height: 55px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.nav_bottom_links {
    min-width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger{
    display: none;
    height: 60px;
    padding: 10px;
}

@media screen and (max-width: 950px) {
    .hamburger{
        display: flex;
    }

    .nav_bottom_links {
        display: none;
    }
}